
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese&display=swap');

* {
    margin: 0;
    /* font-family: 'Quicksand', sans-serif; */
}


body {
    /*background-color: rgba(28, 28, 30, 1) !important;*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("img/soldier.jpg");
    background-repeat: no-repeat;
    background-size:100vw;
    background-attachment: fixed;
    
}


.list-link a {
    
}

#header {
    width: 1140px;
    height: 475px;
    margin: 0 auto;
    background-image: url("img/eng.jpg");
    background-size: cover;
    
    
}



#mainpage {
    margin: 0 auto;
    width: 1140px;
    background: #2B2826;
    
    
}

.fotInf {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 15px;
    
}

.container-premain {
    width: calc(100% + 20px);
    margin-left: -10px;
    height: 50px;
    background-color: #3B352E;
    border-radius: 3px;
   box-shadow: 0 5px 10px 0 #0f0f0f, inset 0 1px 3px 0 #544c44, inset 0 -1px 3px 0 #24221e;
   display: flex;
   /* justify-content: center; */
}

.container-header {
    height: 100px;
}

.container-premain p {
    /* font-family: 'Merienda', cursive; */
    text-align: center;
    color: #aaaaaa;
    font-size: 25px;
    font-family: 'Bakbak One', cursive;
    
}

/* .container-premain .ver {
    float: right;
    font-size: 15px;
} */

.container-bottom .open-popup:hover {
    color: #cd853f;

}

.container-bottom {
    display: flex;
    justify-content: center;
}

.container-bottom .open-popup {
    background: #2B2826;
    text-align: center;
    color: #d6d6d6;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Bakbak One', cursive;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(205, 133, 63, 0.22);
    -moz-box-shadow: 0px 3px 15px 0px rgba(205, 133, 63, 0.22);
    box-shadow: 0px 3px 15px 0px rgba(205, 133, 63, 0.22);
}

#ver{
    font-size: 15px;
    color: rgb(163, 163, 163);
  
}

/* .container-premain .version {
    width: 35px;
}

.container-premain .version p {
    margin-bottom: 5px;
} */


.favorite-info {
    width: 900px;
    height: 100vh;
    background-color: #201E1C;
    margin: 0 auto;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    /* font-family: 'Catamaran', sans-serif; */
}



.favNameS {
    width: 120px;
    color: rgb(209, 209, 209);
    text-align: center;
    font-size: 20px;
    background: #3B352E;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 8px 5px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 4px 8px 5px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 4px 8px 5px rgba(51, 51, 51, 0.2);
}

.containerrow {
    padding: 25px;
    margin-right: 25px;
    display: flex;
    
    flex-direction: row;
}


.rr hr {
    border: 0;
height: 1px;
background: #000;
background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
background-image: -moz-linear-gradient(left, #fff, #000, #fff);
background-image: -ms-linear-gradient(left, #fff, #000, #fff);
background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

.containerCard {
    float: right;
    margin-left: 140;
    margin-left: 20px;
}

.row .cardinf {
    margin-bottom: 10px;

}

.uplinks {
    margin-top: 76px;
    margin-left: 130px;
    position: absolute;
}


.uplinks .etf {
    margin-left: 20px;
}

li img {
    margin-right: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 5px; 
}
li a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

li a:hover {
    color: #F3A957;
}


/* .namefavmap .fav {
    color: white;
    margin-top: 40px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.favmap {
    display: flex;
    flex-direction: row;
    padding: 25px;
} */


#image.active {
    border-radius: 50px;
    color: aqua;
}

.image {
    border-radius: 40px;
}

@keyframes flickerAnimation { /* flame pulses */
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

.namecard.active {
    animation: flickerAnimation 1s infinite;
}



.download.active {
    opacity: 1;
    visibility:visible;
    display: block;
}

.wroom {
    margin-top: 10px;
    transition: margin 1s ease-out 0.5s;
}

.download a:hover {
    color: rgb(7, 204, 7);
}

.download a {
    text-decoration: none;
    color: wheat;
    font-size: 15px;
    
}

.download {
    color: #F3A957;
    text-align: center;
    margin-left: 30px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.cardinf img {
    
    margin-left: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
}
.cardinf {
    display: flex;
    flex-direction: column;
}



.cardinf .namecard {
    color: #F3A957;
    text-align: center;
    margin-top: 15px;
    margin-left: 30px;
    background-color: rgb(49, 46, 46);
    border-radius: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 17px;
}





.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    pointer-events: none;
}

.popup p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: 0.5s all;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    
}

.popup__content.active {
    transition: 0.5s all; 
    opacity: 1;
}


.popup__content {
    background-color: #2B2826;
    color: rgb(255, 255, 255);
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 1;
    border-radius: 5px;
    transform: translate(0px, calc(100vh -50%));
}

.popup__title {
    font-size: 30px;
    margin: 0px 0px 1em 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: khaki;
}

.close__popup:hover {
    color:#F3A957;
}

.close__popup{
    position: absolute;
    color: #fff; 
    right: 10px;
    top: 10px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.update__wrapper {
    
    font-family: 'Jost', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}



.dateinf {
    display: flex;
    flex-direction: row;
    color: lightskyblue;
    padding: 15px;
}

.btn__info.active {
    background-color: rgba(0, 255, 34, 0.712);
}

.btn__info {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    margin-left: 5px;
}

.update__info p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    
}

.update__info {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    visibility: hidden;
}

.update__info li {
    pointer-events: none;
    list-style-type: circle;
    color: rgb(255, 238, 0);
}


#tab_3.active {
    transition: 0.5s all; 
    background-color: rgb(46, 46, 46);   
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: block;
}

#tab_2.active {
    transition: 0.5s all; 
    background-color: rgb(46, 46, 46);   
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: block;
}

#tab_1.active {
    
    background-color: rgb(46, 46, 46);   
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: block;
}

#tab_3 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
    transition: all 0.8s ease 0s;
}

#tab_2 {
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
    transition: all 0.8s ease 0s;
}

#tab_1 {
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

/* @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position:  400px 400px, 300px 300px;}
}
#snow-container {
    background-image: url("img/snow1.png");
    animation: snow 20s linear infinite;
    
} */

#gir {
    position:fixed;
    top:0;
    left:0;
    background-image:url('http://lh5.googleusercontent.com/-obNunPiVVd4/VJOuk2f29_I/AAAAAAAAE3Y/SOoFIrFTTkk/s800/gerljanda1.png');
    height:36px;
    width:100%;
    overflow:hidden;
    z-index:99
    }  
    /* #nums_1 {padding: 0;}  

    .gir_1 {background-position: 0 0}  

    .gir_2 {background-position: 0 -36px}  

    .gir_3 {background-position: 0 -72px}  */
    

.pc {
    margin-left: auto;
    text-align: center;
}

.pc .pcspec {
    color: rgb(175, 175, 175);
    margin-top: 14px;
}    

.avainfo {
    display: flex;
  
    
    width: 900px;
   
}

.avainfo img {
    border-radius: 40px;
    margin: 10px;
   
}
.avainfo .since {
    color: white;
    text-align: right;
}


footer {
    margin: auto;
    width: 1140px;
    background: #202020;
    display: flex;
    justify-content: center;
    /* font-family: 'Noto Sans Balinese', sans-serif; */
}