* {
    margin: 0;
    font-family: TF2;
    src: url("https://www.dafont.com/tf2.font");
    
}


body {
    
    /*background-color: rgba(28, 28, 30, 1) !important;*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("img/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


.header {
    width: 1140px;
    height: 475px;
    margin: 0 auto;
    background-image: url("img/eng.jpg");
    background-size: cover;
    
    
}



.mainpage {
    margin: 0 auto;
    width: 1140px;
    background: #2B2826;
    
   
    

}

.container-premain {
    width: calc(100% + 20px);
    margin-left: -10px;
    height: 50px;
    background-color: #3B352E;
    border-radius: 3px;
   box-shadow: 0 5px 10px 0 #0f0f0f, inset 0 1px 3px 0 #544c44, inset 0 -1px 3px 0 #24221e;
   display: flex;
   justify-content: space-between;
}

.container-premain p {
    text-align: center;
    
    color: #CCCCCC;
    font-size: 25px;
}

.container-premain .ver {
    float: right;
    font-size: 15px;
   
}

#ver{
    font-size: 15px;
    color: rgb(109, 109, 109);
}

.container-premain .version {
    width: 35px;
}

.container-premain .version p {
    margin-bottom: 5px;
}



.mainpage .favorite-info {
    
    width: 900px;
    
    background-color: #201E1C;
    margin: 0 auto;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(243, 169, 87, 0.6) inset;
    
}



.favNameS {
    width: 120px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.containerrow {
    padding: 25px;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
}


.rr hr {
    border: 0;
height: 1px;
background: #000;
background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
background-image: -moz-linear-gradient(left, #fff, #000, #fff);
background-image: -ms-linear-gradient(left, #fff, #000, #fff);
background-image: -o-linear-gradient(left, #fff, #000, #fff);
    
   
}

.containerCard {
    float: right;
    margin-left: 140;
}

.row .cardinf {
    margin-bottom: 10px;
}

.uplinks {
    margin-top: 76px;
    margin-left: 130px;
    position: absolute;
    
}


.uplinks .etf {
    margin-left: 20px;
}

li img {
    margin-right: 30px;
}

li {
    list-style-type: none;
    margin-bottom: 5px; 
}
li a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

li a:hover {
    color: #F3A957;
}


/* .namefavmap .fav {
    color: white;
    margin-top: 40px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.favmap {
    display: flex;
    flex-direction: row;
    padding: 25px;
} */

.cardinf img {
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(234, 133, 66, 0.2);
    
}

.cardinf {
    margin-left: 35px;
}

.cardinf .namecard {
    color: #F3A957;
    text-align: center;
    margin-top: 10px;
}

.pc {
    padding: 25px;
}

.pc .pcspec {
    color: rgb(175, 175, 175);
}

.avainfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-left: 120px
}

.avainfo img {
    border-radius: 40px;
    margin-top: 15px;
    margin-right: 15px;
}
.avainfo .since {
    color: white;
    margin-top: 18px;
}


footer {
    margin: auto;
    width: 1140px;
    height: 65px;
    
    background: #202020;
}